.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.months {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.calendar {
  width: 1250px;
  border: grey 1px solid;
}

.day-cell {
  background-color: #ebedf0;
  height: 20px;
  width: 20px;
  position: relative;
}

.day-cell .tooltip {
  visibility: hidden;
  width: 20px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  left: 0px;
  z-index: 1;
}

.day-cell:hover .tooltip {
  visibility: visible;
}
